// -----------------------------------------------------------
/*  Button brand */
// -----------------------------------------------------------
/* Import Sass utils */
@use "../../style/sass/variables" as v;
@use "../../style/sass/mixins" as m;

.btn-brand {
	transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	svg,
	span {
		color: inherit;
	}

	&--round {
		@include m.brand-btn(30px, 30px);
		border-radius: 50%;
		&::after {
			border-radius: 50%;
			background-color: v.$color-grey;
		}
	}
	&--square {
		@include m.brand-btn(auto, auto);
		padding: 0.5rem 1.5rem;
		font-size: 1rem;
	}

	&--border-0 {
		border: none;
		&::after {
			display: none;
		}
		svg {
			opacity: 0.6;
		}
		&:hover svg {
			opacity: 1;
		}
	}

	&--green {
		border-color: darken(v.$color-green, 30%);
		color: darken(v.$color-green, 40%);
		&::after {
			background-color: v.$color-green;
		}
		span {
			background-color: lighten(v.$color-green, 70%);
		}
	}
	&--blue {
		border-color: v.$color-blue;
		color: v.$color-blue;
		&::after {
			background-color: lighten(v.$color-blue, 50%);
		}
		span {
			background-color: lighten(v.$color-blue, 70%);
		}
	}
	&--red {
		border-color: v.$color-red;
		color: v.$color-red;
		&::after {
			background-color: lighten(v.$color-red, 50%);
		}
		span {
			background-color: lighten(v.$color-red, 70%);
		}
	}
	&--grey {
		border-color: v.$color-grey;
		color: v.$color-grey;
		&::after {
			background-color: v.$color-lightgrey;
		}
		span {
			background-color: v.$color-lightgrey;
		}
	}
	&--light {
		border-color: white;
		color: white;
		&::after {
			background-color: rgba(255, 255, 255, 0.2);
		}
		span {
			background-color: rgba(255, 255, 255, 0.2);
		}
	}

	svg {
		font-size: 1.4rem;
	}
	&__popup {
		@include m.position(absolute, 0, 38px, 0);
		@include m.flex($axis: (space-between, center));
		@include m.border(v.$default, v.$color-lightgrey, 5px);
		white-space: nowrap;
		width: auto;
		height: inherit;
		padding: 0 0.5rem;
		color: black;
		background-color: white;
		border: 1px solid v.$color-grey;
		pointer-events: none;
		z-index: 1;
		opacity: 0;
		transform: translateX(134px);
		transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
		transition-property: transform, opacity;

		&::after {
			content: "";
			@include m.position(absolute, v.$default, -5px, v.$default);
			transform: rotate(45deg);
			height: 7px;
			width: 7px;
			background-color: inherit;
			border: 1px solid v.$color-grey;
			border-bottom: none;
			border-left: none;
		}
	}
	&:hover &__popup {
		transform: translateX(0);
		opacity: 1;
		transition: all 0.8s 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
		transition-property: transform, opacity;
	}
}
