// -----------------------------------------------------------
/* BUTTONS */
// -----------------------------------------------------------

// ------- Nav Btns : Create recipe / Profile / Search
.sidebar-content-nav__btn {
	@include flex($default, $default, space-between, center);
	@include position(relative);
	gap: 1rem;
	max-width: 230px;
	@include border();
	padding: 0.5rem 0.7rem;
	letter-spacing: 1px;
	font-size: 16px;
	font-weight: 200;
	transition: all 0.17s ease-in-out;
	border-radius: 5px;

	svg {
		font-size: 25px;
		margin-right: 0.5rem;
	}

	&:after {
		content: "";
		@include position(absolute, 5px, $default, $default, 5px);
		display: block;
		width: calc(100% + 2px);
		height: calc(100% + 2px);
		z-index: -1;
		transition: all 0.12s ease-in-out;
		border-radius: 5px;
	}

	&:hover {
		transform: scale(1.08);
		transition: all 0.2s ease-in-out;
		transform-origin: top;
		box-shadow: 4px 4px; // currentcolor
		&:after {
			top: 0;
			left: 0;
			transition: all 0.12s ease-in-out;
		}
	}

	/*  actions button */
	&--create {
		color: darken($color-green, 35%);
		border-color: darken($color-green, 35%);
		&:after {
			background-color: $color-green;
		}
	}
	&--profil {
		color: $color-blue;
		border-color: $color-blue;
		&:after {
			background-color: lighten($color-blue, 60%);
		}
	}
	&--search {
		color: $color-darkgrey;
	}
}

// ------- Sidebar slide btn
.btn-slide {
	align-self: center;
	@include flex($default, $default, center, center);
	width: $sidebar-gutter;
	height: $sidebar-gutter;
	font-size: 2rem;
	border-radius: 5px;
	background-color: rgba(255, 255, 255, 0.8);

	@include desktop {
		border-radius: 0;
		height: 100%;
		padding: 0;
		@include border((left, right));
	}
}
// sidebar btn when show or hide
.sidebar--show > .btn-slide {
	order: 2;
	height: 100%;
	background-color: white;
	border-radius: 0;
	@include border((left, right));

	@include desktop {
		order: 0;
	}
}


// ------- See Recipe btn

.recipe__see-more {
    color: $color-darkgrey;
    font-size: 1rem;
    border-radius: 5px; 
    padding: 0.4rem 1rem;
    @include border();

    &:hover {
        background-color: $color-green;
        @include border($default, $color-green);
    }
}