// -----------------------------------------------------------
/*  Admin */
// -----------------------------------------------------------
/* Import Sass utils */
@use "../../../style/sass/variables" as v;
@use "../../../style/sass/mixins" as m;

.admin {
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 4px 4px rgba(0, 0, 0, 0.23);

	border-radius: 10px;
	overflow: hidden;
	@include m.desktop {
		@include m.grid(1fr 4fr, minmax(20vh, auto));
	}
	&-container {
		@include m.flex(column);
		&__stats {
			padding: 1rem;
			@include m.flex($axis: space-evenly, $g: 0.5rem);
		}
	}
	&-panel {
		padding: 0 1rem;
		&__title {
			text-align: center;
			padding: 3rem;
		}
	}
}
