// -----------------------------------------------------------
/*  Cards */
// -----------------------------------------------------------
/* Import Sass utils */
@use '../../style/sass/variables' as v;
@use '../../style/sass/mixins' as m;

.card {
	&:after {
		@include m.before-after();
		@include m.line(40vw, -0.4deg);
		margin: auto;
		margin-top: 3rem;
		@include m.desktop {
			display: none;
		}
	}
	&__img {
		width:100%;
        /* height: 444px; */
	}
	&__title {
		@include m.position(relative, -45px);
		@include m.flex(v.$default, wrap, center, center);
		background: white;
		padding: 0.5rem 4rem 0.5rem 2rem;
		width: 320px;
		height: 85px;
		font-weight: 500;
		font-size: 1.25rem;
	}
    &__new {
        @include m.position(relative, -65px, v.$default, v.$default, 20px);
        background-color: v.$color-darkgrey;
        padding: 0.3rem 1.3rem;
        color:white;
    }
	&__ingredients {
		margin-top: -25px;
		@include m.flex(v.$default, wrap);
		gap: 0.8rem;
		&-item {
			background-color: v.$color-lightgrey;
			padding: 0.2rem 1.4rem;
			border-radius: 5px;
			font-size:0.9rem;
		}
	}
}