// -----------------------------------------------------------
/*  VARIABLES*/
// -----------------------------------------------------------

// ------------ COLORS

$color-green : #92c24c;
$color-blue: #17585a;
$color-red: #af3b15;
$color-yellow : #fcd949;


// ------------ FONTS