// -----------------------------------------------------------
/*  Cards */
// -----------------------------------------------------------
/* Import Sass utils */
@use "../../style/sass/variables" as v;
@use "../../style/sass/mixins" as m;

.card {
	&__heading {
		font: 500 24px Raleway;
		margin-bottom: 1.5rem;
	}
	&__subtitle {
		text-transform: capitalize;
		font: 500 17px Raleway;
	}
	&__text {
		line-height: 22px;
	}
}

.card-header {
	margin-bottom: 42px;
	a {
		height: 100%;
	}
	&__img {
		height: 100%;
		position: relative;
	}
	&__new {
		display: block;
		@include m.position(absolute, 1.25rem, 1.25rem);
		background-color: v.$color-darkgrey;
		width: 4.25rem;
		line-height: 1.75rem;
		text-align: center;
		color: white;
		font-size: 0.9rem;
	}
	&__title {
		@include m.position(relative,v.$default, v.$default, 42px);
		@include m.flex(v.$default, wrap, center, center);
		padding: 0.5rem 4rem 0.5rem 2rem;
		width: 320px;
		height: 85px;
		font-weight: 500;
		font-size: 1.25rem;
		background-color: white;
		&--center {
			margin: auto;
			width: 450px;
			padding: 0.5rem 2rem;
			font-size: 1.5rem;
		}
	}
}

.card-infos {
    @include m.flex(v.$default, wrap, center);
    gap: 1.4rem;
    margin-top: -2rem;
    &__item {
        @include m.flex(v.$default, v.$default, v.$default, center);
        gap:0.5rem;
        min-width: 100px;
        svg {
            font-size: 2rem;
            font-weight: normal;
        }
        &::before {
            content: "";
            @include m.flex(v.$default, v.$default, center, center);
            width: 4px;
            height: 4px;
            background-color: black;
            border-radius: 50%;
        }
        &:nth-child(2) {
            text-transform: capitalize;
        }
    }
}

.card-pills {
	@include m.flex(v.$default, wrap);
	align-content: flex-start;
	gap: 0.8rem;
	&__item {
		background-color: v.$color-lightgrey;
		padding: 0.2rem 1.4rem;
		border-radius: 5px;
		font-size: 0.9rem;
	}
}

.card-list {
	@include m.flex(column);
	gap: 1.7rem;
	&__item {
		font: 15px Raleway;
	}
	&--styled {
		gap: 0.8rem;
		li {
			list-style: initial;
			list-style-position: inside;
			margin-left: 1rem;
			&::marker {
				font-size: 10px;
				color: v.$color-grey;
			}
		}
	}
}
