// -----------------------------------------------------------
/*  HEADER */
// -----------------------------------------------------------

header {
	// main title
	h1 {
		@include flex($default, $default, center, center);
		gap: 1rem;
		text-align: center;
		margin-top: $sidebar-gutter;
	}
	// nav links
	.breadcrumb {
		@include flex($default, wrap, center, center);
		gap: 1rem;
		text-transform: uppercase;
		padding: 1rem;
		margin: 0;
		color: $color-darkgrey;
		@include border((bottom, top));

		&__link {
			@include flex($default, $default, center, center);
			svg {
				font-size: 24px;
			}
			&--active {
				color: $color-grey;
			}
		}
	}
	// user actions
	.sidebar {
		@include position(fixed, 0, 0, 0, 0);
		display: flex;
		z-index: 1;

		@include desktop {
			left: auto;
		}

		&-content {
			width: $sidebar-mobile-size;
			height: 100%;
			flex: 1;
			background: linear-gradient(
					to bottom,
					rgb(255, 255, 255) 50%,
					rgb(255, 255, 255) 51%,
					rgba(255, 255, 255, 0) 100%
				),
				bottom / contain no-repeat url("./img/" + $random-img-food);
			padding: 1rem;
			@include border(left);

			@include desktop {
				width: $sidebar-size;
				border: 0;
			}
			// btns actions
			&-nav {
				position: relative;
				@include flex(column, $default, $default, center);
				margin: auto;
				gap: 1rem;
				margin-top: 3rem;
				z-index: 1;

				button {
					width: 100%;
				}
			}
			// title & message
			p,
			h2 {
				text-align: center;
			}

			p {
				font-style: italic;
			}
		}
		// mobile version
		/* &-mobile {
			left: 0;
		} */

		// sidebar animate
		&--hide {
			@include animate-slide(sidebar-mobile-out);
		}
		&--show {
			@include animate-slide(sidebar-mobile-in);
		}

		@include desktop {
			&--hide {
				@include animate-slide(sidebar-out);
			}
			&--show {
				@include animate-slide(sidebar-in);
				width: auto;
			}
		}
	}
}
