// -----------------------------------------------------------
/*  List recipes */
// -----------------------------------------------------------
/* Import Sass utils */
@use "../../style/sass/variables" as v;
@use "../../style/sass/mixins" as m;

.recipes-title {
	@include m.flex($axis:(null,center), $g: 1rem, $wrap: wrap);
	margin-bottom: 1.5rem;
	white-space: nowrap;
	font-weight: normal;
	font-size: 1.2rem;
	svg {
		font-size: 1.5rem;
	}
}

.recipe-card {
	@include m.grid(1fr, (300px 1fr));
	gap: v.$card-gap;
	transition: transform 0.5s;
	&:after {
		@include m.line(40vw, -0.4deg);
		margin: auto;
		@include m.desktop {
			display: none;
		}
	}
	&--small {
		@include m.grid(1fr, (200px auto));
		gap: 1.5rem;
	}
	&--border {
		@include m.border(v.$default, v.$color-lightgrey);
		padding: 10px;
		&:hover {
			border-color: v.$color-grey;
		}
	}
}
