// -----------------------------------------------------------
/* BUTTONS */
// -----------------------------------------------------------

/* all recipes */
.recipes__cards {
	@include flex(column, $default, $default, center);
	gap: 5rem;

	@include desktop {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
	}

	li {
		height: 100%;
		.recipe-ingredients {
			flex: 1;
		}
	}
}

/* one recipe */
.recipe {
	@include flex(column);
	gap: 0.5rem;

	@include border($default, $color-grey, 1px);
	border-radius: 30px;
	padding: $img-edge-mobile;

	@include desktop {
		padding: $img-edge;
	}

	&-top {
		position: relative;

		&__title {
			transform: skew(0deg, -2deg);
			@include position(
				absolute,
				15px,
				-$ribbon-size-mobile,
				$default,
				-$ribbon-size-mobile
			);

			@include desktop {
				@include position(
					absolute,
					15px,
					-$ribbon-size,
					$default,
					-$ribbon-size
				);
			}

			h3 {
				position: relative;
				font-size: 1.25rem;
				font-weight: normal;
				text-transform: uppercase;
				background-color: rgba(255, 255, 255, 0.7);
				background: linear-gradient(
					to right,
					rgba(255, 255, 255, 1) 0%,
					rgba(255, 255, 255, 1) 5%,
					rgba(255, 255, 255, 0.6) 97%,
					rgba(255, 255, 255, 1) 97%,
					rgba(255, 255, 255, 1) 100%
				);
				padding: 0.7rem 1rem;

				border-radius: 5px 3px 0 3px;
				@include border((left, right, top), $color-darkgrey, 1px);
				border-bottom: 5px solid;

				&:after {
					@include ribbon(right, $ribbon-size-mobile);

					@include desktop {
						@include ribbon(right, $ribbon-size);
					}
				}
			}
		}

		&__img {
			border-radius: 20px;
			@include border($default, $color-grey, 1px);
		}
	}

	&-ingredients {
		&__list {
			@include flex($default, wrap);
			padding: 1rem 0;
			gap: 0.5rem;

			li {
				padding: 0.2rem 1rem;
				color: $color-darkgrey;
				border-radius: 10px;
				background-color: lighten($color-grey, 30%);
			}
		}
	}

	&-steps {
		h4 {
			@include flex($default, $default, $default, center);
			gap: 0.5rem;
		}

		&__list {
			@include flex($default, wrap);
			padding: 1rem 0;
			gap: 1rem;
		}
	}

	&__see-more {
		align-self: center;
	}

	h4 {
		font-size: 1.3rem;
		text-transform: uppercase;
	}
}
