// -----------------------------------------------------------
/*  HOME PAGE (connected) */
// -----------------------------------------------------------

.container-home {
	overflow: hidden;

    // animate Sidebar & cie
	@include desktop {
		header > h1,
		header > nav {
			width: calc(100% - $sidebar-gutter);
		}

		.main-home {
            @include desktop {
                display: grid;
                grid-template-columns: 1fr $sidebar-gutter;
                grid-template-areas: "content sidebar";
                column-gap: 0rem;
                transition: 0.4s ease-in;
                
                &--small {
                    column-gap: calc(1.5rem + $sidebar-size);
                    transition: 0.4s ease-in;
                }
            }
		}

		.grow {
			@include animate-slide(content-in);
		}
		.shrink {
			@include animate-slide(content-out);
		}
	}
}
