// -----------------------------------------------------------
/*  inputs */
// -----------------------------------------------------------
/* Import Sass utils */
@use "../../style/sass/variables" as v;
@use "../../style/sass/mixins" as m;

.input-group {
	position: relative;
	@include m.flex(v.$default, v.$default, v.$default, center);
	margin-bottom: 0.5rem;
	&__label {
		@include m.position(absolute, 0);
		@include m.flex(v.$default, v.$default, v.$default, center);
		transition: all 0.5s ease-in-out;
		padding: 0.75rem;
		text-transform: capitalize;
		z-index: -1;
		&--light {
			color: v.$color-grey;
		}
	}
	&__control {
		width: 100%;
		border: 1px solid v.$color-lightgrey;
		padding: 0.75rem;
		border-radius: 4px;
		font-size: 1rem;
		font-family: "Raleway";
		background-color: transparent;

		&:focus ~ label,
		&:valid ~ label {
			transform: translate(-0.74rem, -1.8rem);
			font-size: 14px;
			color: v.$color-grey;
		}

		&[type="time"] {
			width: 195px;
			color: transparent;
			text-align: center;
			&:focus,
			&:valid {
				color: black;
			}
		}
	}

	textarea {
		resize: none;
		& ~ label {
			bottom: initial;
		}
	}
}