// -----------------------------------------------------------
/*  inputs */
// -----------------------------------------------------------
/* Import Sass utils */
@use "../../style/sass/variables" as v;
@use "../../style/sass/mixins" as m;

$input-padding: 0.75rem;
@mixin label-focus() {
	transform: translate(-($input-padding), -1.9rem);
	font-size: 14px;
	color: v.$color-grey;
}

.input-group {
	position: relative;
	@include m.flex($axis: (null, center));
    z-index:0;
	&__label {
		@include m.position(
			absolute,
			calc($input-padding + 1px)
		); // 1px for the border
		transition: all 0.5s ease-in-out;
		display: block; // to make the uppercase works on ::first-letter
		padding-left: $input-padding;
		z-index: -1; // fix user focus of input
		font: 1rem Raleway;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		&--light {
			color: v.$color-grey;
		}
		&::first-letter {
			text-transform: uppercase;
		}
	}
	&__control {
		width: 100%;
		@include m.border(v.$default, v.$color-lightgrey);
		padding: $input-padding;
		font: inherit;
		/* background-color: transparent; */
		&:focus {
			border-color: #32a1ce;
		}

		&:focus ~ label,
		&:valid ~ label {
			@include label-focus;
		}

		&[type="time"] {
			width: 195px;
			color: transparent;
			text-align: center;
			&:focus,
			&:valid {
				color: black;
			}
		}
		&[type="number"] {
			color: transparent;
			text-align: center;
			width: 87px;
			padding: 0.75rem 0.1rem;
			// --- delete increment button
			-moz-appearance: textfield; // firefox
			appearance: textfield; // firefox
			&::-webkit-inner-spin-button {
				-webkit-appearance: none; // chrome
			}
			@include m.desktop {
				width: 87px;
			}
			&:focus,
			&:valid {
				color: black;
			}
		}
	}

	textarea {
		resize: none;
		& ~ label {
			bottom: initial;
		}
	}

	select {
		width: 195px;
	}
}

.input-group--resize {
	display: inline-grid;
	grid-template-areas: "input";
	align-items: center;
	@include m.border(v.$default, v.$color-lightgrey);
	padding: $input-padding;
	&::after {
		content: attr(data-value) "";
		visibility: hidden;
		white-space: pre-wrap;
	}
	label {
		@include label-focus;
		width: auto;
	}
	&::after,
	input,
	textarea {
		grid-area: input;
		width: auto;
		//min-width: 1em;
		font: inherit;
		margin: 0;
		padding: 0;
		resize: none;
		background: none;
		appearance: none;
		border: none;
	}
}
