// -----------------------------------------------------------
/*  inputs */
// -----------------------------------------------------------
/* Import Sass utils */
@use "../../style/sass/variables" as v;
@use "../../style/sass/mixins" as m;

.input-group {
	position: relative;
	@include m.flex(v.$default, v.$default, v.$default, center);
	margin-bottom: 0.5rem;
	&__label {
		@include m.position(absolute, 0);
		transition: all 0.5s ease-in-out;
		display: block; // to make the uppercase works on ::first-letter
		padding: 0.75rem;
		z-index: -1;
		width: 100%;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		&--light {
			color: v.$color-grey;
		}
		&::first-letter {
			text-transform: uppercase;
		}
	}
	&__control {
		width: 100%;
		border: 1px solid v.$color-lightgrey;
		padding: 0.75rem;
		font-size: 1rem;
		font-family: "Raleway";
		background-color: transparent;

		&:focus ~ label,
		&:valid ~ label {
			transform: translate(-0.74rem, -1.8rem);
			font-size: 14px;
			color: v.$color-grey;
		}

		&[type="time"] {
			width: 195px;
			color: transparent;
			text-align: center;
			&:focus,
			&:valid {
				color: black;
			}
		}
		&[type="number"] {
			color: transparent;
			text-align: center;
			width: 87px;
			padding: 0.75rem 0.1rem;
			// --- delete increment button
			-moz-appearance: textfield; // firefox
			appearance: textfield; // firefox
			&::-webkit-inner-spin-button {
				-webkit-appearance: none; // chrome
			}
			@include m.desktop {
				width: 87px;
			}
			&:focus,
			&:valid {
				color: black;
			}
		}
	}

	textarea {
		resize: none;
		& ~ label {
			bottom: initial;
		}
	}

	select {
		width: 195px;
	}
}
