// -----------------------------------------------------------
/*  HEADER */
// -----------------------------------------------------------
/* Import Sass utils */
@use '../../style/sass/variables' as v;
@use '../../style/sass/mixins' as m;


.header {
    &__title {
        text-align: center;
		font: 2rem Coming Soon;
		padding: 1rem 0;
		@include m.grow-shrink();
    }
	&:after {
		@include m.line();
	}
}

// Links
.breadcrumb {
    @include m.flex(v.$default, wrap, center, center);
        gap: 1rem;
		padding: 1rem 0;
		text-transform: capitalize;
        color: v.$color-darkgrey;
		@include m.grow-shrink();
        &__link {
			@include m.flex(v.$default, v.$default, center, center);
            gap:0.3rem;
            // triangle
			&::before {
                @include m.before-after();
                width: 0;
                height: 0;
                border-top: 5px solid transparent;
                border-bottom: 5px solid transparent;
                border-left: 5px solid transparent;
            }
			&--active {
				color: v.$color-grey;
                &::before {
                    border-left: 5px solid v.$color-grey;
                }
			}
		}
}