// -----------------------------------------------------------
/*  Create Recipe */
// -----------------------------------------------------------
/* Import Sass utils */
@use "../../../style/sass/variables" as v;
@use "../../../style/sass/mixins" as m;

.form {
	@include m.flex(column);
	gap: 1.3rem;

	&-group {
		@include m.flex(column);
		gap: 1rem;
        @include m.border(v.$default,v.$color-grey, 4px );
		padding: 1.2rem;
		&__legend {
			padding: 0.5rem 1rem 0.5rem 0;
			background-color: white;
			margin-left: calc(-1.2rem - 1px);
			text-transform: capitalize;
		}
		&__row {
            @include m.flex(v.$default, wrap, v.$default, center);
			gap: 0.5rem;
            @include m.border(v.$default,v.$color-grey, 4px );
			padding: 0.5rem;
            z-index: -2;
			@include m.desktop {
				padding: 0;
				border: none;
			}
			div:first-child {
				width: 100%;
				@include m.desktop {
					width: auto;
					flex: 3;
				}
			}
			div:nth-child(3) {
				flex: 2;
			}
		}
		&__btn {
			align-self: flex-end;
		}
	}

	&__submit-btn {
		align-self: center;
	}
}
