// -----------------------------------------------------------
/*  Nav Admin */
// -----------------------------------------------------------
/* Import Sass utils */
@use "../../style/sass/variables" as v;
@use "../../style/sass/mixins" as m;

.navbloc {
	padding: 1rem;
	color: v.$color-darkgrey;
	box-shadow: 6px 0px 3px -3px rgba(0, 0, 0, 0.23);
	z-index: 0;
	&-title {
		font-size: 16px;
		line-height: 40px;
		font-weight: bold;
		&::after {
			@include m.line($color: v.$color-grey);
		}
	}
	&-group {
		@include m.flex(column, $g: 1rem);
		padding: 1.5rem 0;
		&__link {
			@include m.flex(
				$axis: (
					null,
					center,
				),
				$g: 0.7rem
			);
			width: 100%;
			font-family: inherit;
			font-size: 14px;
			text-align: left;
			font-weight: 500;
			svg {
				font-size: 20px;
			}
			&:hover,
			&--active {
				color: v.$color-blue;
			}
		}
	}
}
