// -----------------------------------------------------------
/*  Recipes */
// -----------------------------------------------------------
/* Import Sass utils */
@use '../../../style/sass/variables' as v;
@use '../../../style/sass/mixins' as m;

.recipe-list {
	@include m.flex(column);
	gap: 3.5rem 4rem;
	@include m.desktop {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	}
}