// -----------------------------------------------------------
/* Profile */
// -----------------------------------------------------------
/* Import Sass utils */
@use "../../../style/sass/variables" as v;
@use "../../../style/sass/mixins" as m;

@mixin resize-box($height) {
	padding: 0 0.4rem;
	height: $height;
	line-height: $height;
	&:not(div) {
		@include m.border(v.$default, transparent);
	}
}

.profile {
	@include m.flex(column, v.$default, v.$default, center);
	gap: 2rem;
	position: relative;
	@include m.desktop(1050px) {
		@include m.grid((minmax(250px, 1fr) 2fr), (auto 1fr auto));
		grid-template-areas:
			"card info"
			"card recipes"
			". recipes";
		align-items: start;
		gap: 2rem 4rem;
	}

	&-edit-btn {
		@include m.position(absolute, 0, 0);
	}

	&-card {
		grid-area: card;
	}

	&-info {
		grid-area: info;
		&__group {
			@include m.flex(column);
			gap: 3rem;
			&--hide {
				position: absolute;
				visibility: hidden;
			}
		}
		&__name {
			@include m.flex(v.$default, wrap, v.$default, center);
			gap: 0.5rem;
			font: 400 27px Coming Soon;

			> * {
				@include resize-box(42px);
			}
			&::after {
				@include m.line(100%, -0.4deg);
				margin-top: 1rem;
			}
			span,
			input {
				text-transform: capitalize;
			}
		}
		&__more {
			@include m.flex(column, v.$default, v.$default, flex-start);
			gap: 1.5rem;
			> p,
			div {
				@include resize-box(30px);
			}
		}
	}

	&-recipes {
		grid-area: recipes;
		margin-left: 3rem;
		&__title {
			@include m.flex(v.$default, wrap, v.$default, center);
			gap: 1rem;
			margin-bottom: 1.5rem;
			white-space: nowrap;
			font-weight: normal;
			font-size: 1.2rem;
			svg {
				font-size: 1.5rem;
			}
		}
		&__list {
			@include m.flex(column);
			gap: 1rem;
			&--item {
				@include m.grid(1fr, (200px auto));
				gap: 1.5rem;
				border-radius: 4px;
				padding: 10px;
				background-color: white;
				@include m.border(v.$default, v.$color-lightgrey);
				&:hover {
					border-color: v.$color-grey;
				}
			}
		}
	}
}

.profile-form {
	&__popup {
		@include m.position(fixed, 0, 0, 0, 0);
		background-color: darken(v.$color-blue, 20%);
		opacity: 0.92;
		z-index: 2;
		padding: 5rem 3rem;
		@include m.flex(column, v.$default, center, center);
		gap: 2rem;
		@include m.desktop {
			max-width: 600px;
			max-height: 300px;
			margin: auto;
		}
		p {
			color: white;
			text-align: center;
			&::first-letter {
				text-transform: capitalize;
			}
		}
		&--hide {
			display: none;
		}
	}
	&__btns {
		width: 100%;
		@include m.flex(v.$default, v.$default, center);
		gap: 1rem;
		max-width: 400px;
		& > button {
			flex: 1;
		}
	}
	&__submit {
		align-self: end;
	}
}
