// -----------------------------------------------------------
/*  StatBox */
// -----------------------------------------------------------
/* Import Sass utils */
@use "../../style/sass/variables" as v;
@use "../../style/sass/mixins" as m;

.stat-box {
	width: 100%;
	max-width: 300px;
	padding: 0.4rem 1rem;
	@include m.shadow-out();
	color: white;
	background-color: white;
	@include m.flex($axis: space-between);
	&__icon {
		flex: 1;
		margin: auto;
		svg {
			font-size: 60px;
		}
	}
	&__content {
		@include m.flex(column, (space-between, flex-end), 0.7rem);
		strong {
			font-size: 40px;
			line-height: 40px;
		}
	}
}
