// -----------------------------------------------------------
/*  User Info & Form */
// -----------------------------------------------------------
/* Import Sass utils */
@use "../../style/sass/variables" as v;
@use "../../style/sass/mixins" as m;

@mixin resize-box($height) {
	padding: 0 0.4rem;
	box-sizing: content-box;
	height: $height;
	line-height: $height;
	&:not(div) {
		@include m.border(transparent);
	}
}

.user-info {
	@include m.flex(column, $g: 2rem);
	@include m.desktop(1050px) {
		gap: 3rem;
	}
	&__name {
		@include m.flex($wrap: wrap, $axis:(center, center), $g: 0.5rem);
		font: 400 27px Coming Soon;
		@include m.desktop(1050px) {
			justify-content: flex-start;
		}
		&::after {
			@include m.line(100%, -0.4deg);
			margin-top: 1rem;
		}
		span,
		> div {
			@include resize-box(42px);
		}
		span,
		> div,
		input {
			text-transform: capitalize;
		}
	}
	&__more {
		@include m.flex(column, (null, center), 1.5rem);
		@include m.desktop(1050px) {
			align-items: flex-start;
		}
		> p,
		div {
			@include resize-box(30px);
		}
	}
}

.user-form {
	&__popup {
		@include m.position(fixed, $full: full);
		background-color: darken(v.$color-blue, 20%);
		opacity: 0.92;
		z-index: 2;
		padding: 5rem 3rem;
		@include m.flex(column, $axis:(center, center));
		gap: 2rem;
		@include m.desktop {
			max-width: 600px;
			max-height: 300px;
			margin: auto;
		}
		p {
			color: white;
			text-align: center;
			&::first-letter {
				text-transform: capitalize;
			}
		}
		&--hide {
			display: none;
		}
	}
	&__btns {
		width: 100%;
		@include m.flex($axis: center, $g: 1rem);
		max-width: 400px;
		& > button {
			flex: 1;
		}
	}
	&__submit {
		align-self: end;
	}
}
