// -----------------------------------------------------------
/*  Cards */
// -----------------------------------------------------------
/* Import Sass utils */
@use "../../style/sass/variables" as v;
@use "../../style/sass/mixins" as m;


.profile-card {
	@include m.flex(column, v.$default, v.$default, center);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 4px 4px rgba(0, 0, 0, 0.23);
	padding: 1rem;
	border-radius: 18px;
	&__img {
		width: 250px;
		height: 250px;
		border: 2px solid v.$color-blue;
		padding: 7px;
		border-radius: 16px;
		@include m.desktop {
		width: auto;
		height: auto;
		}
		img {
		background-color: rgb(185, 185, 185); // for transparent png
		border-radius: 10px;
		height: 100%;
		}
	}
	&__icon {
		@include m.flex(v.$default, v.$default, center, center);
		margin-top: -28px;
		font-size: 48px;
		padding: 6px;
		background-color: v.$color-blue;
		border-radius: 50%;
		border: 3px solid white;
		path {
		stroke: white;
		}
	}
	&__info {
		text-align: center;
		text-transform: capitalize;
		line-height: 23px;
	}
}
