// -----------------------------------------------------------
/*  Recipes */
// -----------------------------------------------------------
/* Import Sass utils */
@use "../../../style/sass/variables" as v;
@use "../../../style/sass/mixins" as m;

.recipes-list {
	@include m.flex(column);
	gap: 3rem;
	@include m.desktop {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
		gap: 5rem 3.5rem;
	}
}
